body {
  background-color: rgb(212, 233, 255);
}

h1 {
  padding: 25px;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  font-family: Arial;
  background-color: lightblue;
}
a {
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  font-family: Arial;
  background-color: rgb(0, 255, 255);
}
